{% extends 'admin_base.html' %}
{% block title %}Manage Movies | FilmSpace{% endblock %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <h2 class="text-center mb-4 fw-bold">🎬 Manage & Update Movies</h2>

  <div class="row">
    {% for mov in admin_movies %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-lg border-0 rounded-4 h-100">
        <img src="{{ mov.movie_image.url }}" class="card-img-top rounded-top-4" alt="{{ mov.movie_name }}" height="250" style="object-fit: cover;">

        <div class="card-body">
          <h5 class="card-title text-center fw-bold mb-2">{{ mov.movie_name }}</h5>
          <p class="text-muted text-center mb-3">{{ mov.movie_year }} </p>

          <div class="mb-2">
            <strong>Director:</strong> {{ mov.movie_director }}
          </div>

          <div class="text-center mt-3">
            <a href="{% url 'update_movie' mov.id %}" class="btn btn-success btn-sm px-3 rounded-pill shadow-sm">
              ✏️ Update
            </a>
            <a href="{% url 'delete_movie' mov.id %}" class="btn btn-danger btn-sm px-3 rounded-pill shadow-sm">
              🗑 Delete
            </a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center text-muted mt-5">No movies available yet.</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
