{% extends 'admin_base.html' %}
{% block title %}Manage Movies | FilmSpace{% endblock %}
{% load static %}
{% block content %}

<div class="container mt-5">
  <h2 class="text-center mb-4 fw-bold">Manage Movies</h2>

  {% if admin_movies %}
  <div class="row">
    {% for mov in admin_movies %}
    <div class="col-12 col-sm-6 col-md-4 mb-4 d-flex flex-column align-items-stretch">
      <div class="card shadow-lg border-0 rounded-4 h-100 overflow-hidden">
        <img src="{{ mov.movie_image.url }}" class="card-img-top rounded-top-4" alt="{{ mov.movie_name }}" height="250" style="object-fit: cover;">

        <div class="card-body">
          <h5 class="card-title text-center fw-bold mb-2">{{ mov.movie_name }}</h5>
          <p class="text-center text-light mb-2">{{ mov.movie_year }}</p>
          <p class="text-center small mb-0">
            {{ mov.movie_genre }}
            <span class="mx-1 text-secondary">•</span>
            {{ mov.movie_language }}
          </p>
        </div>
      </div>

      
      <div class="text-center mt-3">
        <a href="{% url 'update_movie' mov.id %}" class="btn btn-success btn-sm px-3 shadow-sm me-2">
          Update
        </a>
        <a href="{% url 'delete_movie' mov.id %}" class="btn btn-danger btn-sm px-3 shadow-sm">
          Delete
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="text-center mt-5">
    <h5 class="text-muted">No movies available yet.</h5>
  </div>
  {% endif %}

  
  {% if admin_movies.paginator.num_pages > 1 %}
  <div class="text-center mt-4">
    {% for i in admin_movies.paginator.page_range %}
    <a href="?page={{ i }}" class="btn btn-light mx-1">{{ i }}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}
